header
  .row
    .col-md-6
      img.img-responsive.margin-top(src='img/logo.png', alt='red box with a lowercase r and a period')
    .col-md-6.text-right.text-uppercase
      h1.text-thin.text-lg Richard C Felix
      h4.text-md Full Stack Web Developer

  .row
    .col-md-12
      hr.hr-lg
