section#hero
  .row
    .col-md-12.margin-bottom
      picture
        source(media='(max-width: 465px)', srcset='img/hero-sm.jpg')
        source(media='(max-width: 650px)', srcset='img/hero-md.jpg')
        img.img-responsive(src='img/hero-lg.jpg', alt='Macbook Pro, iphone and sketchbook with pen on a table')
