section#projects
  .row#header
    .col-md-12
      h2.text-light.text-bigger Featured Work

  .row#desc
    .col-md-4.col-xs-12.text-center
      figure
        picture
          source(media='(max-width: 465px)', srcset='img/coding-sm.jpg')
          source(media='(max-width: 650px)', srcset='img/coding-md.jpg')
          img.img-responsive.animation(src='img/coding-lg.jpg', alt='Macbook Pro with a pair of headphones on a table. Computer has sublime text editor open with code.')
        figcaption
          h3.text-uppercase.text-bigger Beats
      p.text-light.text-bigger https://www.beats.com
      
    .col-md-4.col-xs-12.text-center
      figure
        picture
          source(media='(max-width: 465px)', srcset='img/workspace-sm.jpg')
          source(media='(max-width: 650px)', srcset='img/workspace-md.jpg')
          img.img-responsive.animation(src='img/workspace-lg.jpg', alt='Macbook Pro, skectch book and iphone on a table from the top view perspective.')
        figcaption
          h3.text-uppercase.text-bigger Workspace
      p.text-light.text-bigger https://workspace.com

    .col-md-4.col-xs-12.text-center
      figure
        picture
          source(media='(max-width: 465px)', srcset='img/coffee-sm.jpg')
          source(media='(max-width: 650px)', srcset='img/coffee-md.jpg')
          img.img-responsive.animation(src='img/coffee-lg.jpg', alt='Macbook Pro with a cup of coffee on a table.  Computer has a text editor with open with code.')
        figcaption 
          h3.text-uppercase.text-bigger Coffee
      p.text-light.text-bigger https://www.coffee.com/is/awesome
